<ion-view title="Login" hide-back-button="true" id="page4" style="background-color:#292926;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list1" class=" ">
                <ion-item class="item-icon-left  " id="login-list-item4">
                    <i class="icon ion-happy"></i>Welcome Chef !</ion-item>
                <label class="item item-input " id="login-input2">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="login-input3">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <button id="login-button5" class=" button button-positive  button-block icon ion-log-in "> Sign in</button>
            <button id="login-button1" style="color:#ooo;" class=" button button-balanced  button-block icon ion-compose "> Sign up</button>
        </form>
    </ion-content>
</ion-view>