<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title"></div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="side-menu21-null" class=" ">
                <ion-item id="side-menu21-list-item0" ui-sref="side-menu21.home" menu-close="" class="  "> Home</ion-item>
                <ion-item id="side-menu21-list-item1" ui-sref="side-menu21.favorites" menu-close="" class="  "> My Favorites</ion-item>
                <ion-item id="side-menu21-list-item2" ui-sref="side-menu21.recipes" menu-close="" class="  "> My Recipes</ion-item>
                <ion-item id="side-menu21-list-item3" ui-sref="side-menu21.allrecipes" menu-close="" class="  "> All Recipes</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>